@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */



.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.display-flex {
    display: flex;
}

.flex-1{
    flex: 1;
}

.bg-primary {
    /* background-color: rgba(255, 144, 14, 0.1); */
    background-color: rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.margin-b{
    margin-bottom: 30px;
}

.section-heading {
    font-size: 1.875rem;
}

.text-primary {
    color: #FF900E;
}

.btn-primary {
    background-color: #FF900E;
    color: #ffffff;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #424242;
}

body {}

header,
main {
    max-width: 1440px;
    margin: 0 auto;
}

.header-title {
    font-size: 1.875rem;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px;
}

.navbar-items {
    gap: 30px;
}

.nav-item {
    list-style: none;
    font-size: 0.8rem;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
}

.banner {
    padding: 35px 150px;
}

.banner-heading {
    font-size: 2.8rem;
    text-align: center;


}


.banner-info {
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.banner-description,
.section-description {
    font-size: 0.75rem;
    line-height: 20px;
    margin: 25px auto;
}

.banner-img img {
    width: 100%;
    border-radius: 5px;
}


section {
    padding: 35px 90px;
}


.teams-container {
    align-items: center;
    gap: 60px;
    padding: 35px 50px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    flex: 1;
}

.our-features {
    flex: 1;

}

.team-img-container img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}

#quick-list {
    font-weight: 500;
}

.features-container{
    /* align-items: center; */
    justify-content: space-between;
    gap: 80px;
    
}

.feature-heading{
    border-left: 4px solid #FF900E ;
    padding-left: 20px;
}

.feature-info-container {
    margin-top: 30px;
}

.feature-img-container{
    /* border: 1px solid red; */
}
.feature-img-container img{
    border-radius: 5px;
    width: 100%;
    
}

.features-card-container{
    flex-direction: column;
    gap: 20px;
}

.feature-card{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    
}

.card-heading{
    font-size: 1rem;
}

.card-description{
    font-size: 0.75rem;
    line-height: 20px;
    margin-top: 8px;
}

.experience-level{
    text-align: center;
    margin-left: 230px;
    margin-top: -90px;
}

.exp-badge{
    background-color: #FF900E;
    color: #ffffff;
    padding: 25px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    
}

#exp-year{
    font-size: 2.5rem;
}

#exp-text{
    font-size: 1rem;
    font-weight: 500;
}

.facts{
    margin: 50px auto;
}

.sponsor-heading-description{
    max-width: 420px;
}

.facts-section-description{
    max-width: 420px;
    font-size: 0.75rem;
    line-height: 20px;
    margin: 25px 0;
}

.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 35px 50px;
}

.fact-card{
    align-content: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 5px;
    aspect-ratio: 1.1;
    width: 100%;
}

.card-number{
    font-size: 2rem;
    margin: 5px 0 8px 0;
}


.sponsors-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-content: center;
}

.sponsor img{
    width: 100%;
}



@media screen and (max-width: 576px) {

    .navbar,
    .navbar-items,
    .teams-container,
    .features-container {
        flex-direction: column;
        gap: 20px;
    }

    .navbar,
    .banner,
    section {
        padding: 25px 50px;
    }

    .banner-description, 
    .section-description {
        text-align: justify;
    }


    .teams-container {
        flex-direction: column-reverse;
        padding: 0;
    }


    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-card-container{
        grid-template-columns: repeat(1, 1fr);
    }

    

    .experience-level{
        text-align: center;
        margin: 0 auto;
        margin-top: -40px;
    }

    .exp-badge{
        padding: 15px 20px;
        
    }

    #exp-year{
        font-size: 1.6rem;
    }
    
    #exp-text{
        font-size: .8rem;
        font-weight: 500;
    }

}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar,
    .navbar-items,
    .teams-container,
    .features-container {
        flex-direction: column;
        gap: 20px;
    }

    .navbar,
    .banner,
    section {
        padding: 25px 50px;
    }



    .teams-container {
        flex-direction: column-reverse;
        padding: 0;
    }


    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .facts-card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .experience-level{
        text-align: center;
        margin: 0 auto;
        margin-top: -65px;
    }

}